body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #e6f0ff;
  color: #333;
}

nav {
  background-color: #cfe0f5;
  padding: 10px;
  position: relative;
}

#burger {
  font-size: 24px;
  cursor: pointer;
}

#menu {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}

#menu li {
  padding: 10px;
  background-color: #dbeafe;
  margin: 5px 0;
  border-radius: 8px;
  cursor: pointer;
}

.menu-section {
  padding: 20px;
}

.hidden {
  display: none;
}

input, select, button {
  display: block;
  margin: 10px 0;
  padding: 8px;
  font-size: 16px;
  width: 100%;
  max-width: 300px;
}

button {
  background-color: #a4caff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}

button:hover {
  background-color: #82b1ff;
}

h2 {
  color: #4a70a6;
}

.auth-form {
  background-color: #f0f8ff;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  margin: auto;
  margin-top: 100px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  text-align: center;
}

.auth-form input {
  width: 90%;
  margin: 8px 0;
  padding: 10px;
  border: 1px solid #a0c4ff;
  border-radius: 5px;
  font-size: 14px;
}

.auth-form button {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #a0c4ff;
  color: #003566;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.auth-form button:hover {
  background-color: #90b4e5;
}
