body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #e6f0ff;
  color: #333;
}

nav {
  background-color: #cfe0f5;
  padding: 10px;
  position: relative;
}

#burger {
  font-size: 24px;
  cursor: pointer;
}

#menu {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}

#menu li {
  padding: 10px;
  background-color: #dbeafe;
  margin: 5px 0;
  border-radius: 8px;
  cursor: pointer;
}

.menu-section {
  padding: 20px;
}

.hidden {
  display: none;
}

input, select, button {
  display: block;
  margin: 10px 0;
  padding: 8px;
  font-size: 16px;
  width: 100%;
  max-width: 300px;
}

button {
  background-color: #a4caff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}

button:hover {
  background-color: #82b1ff;
}

h2 {
  color: #4a70a6;
}

